.avatar {
  margin-right: 10px;
  display: flex;
  align-items: center;

  span {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  h5 {
    padding: 0;
    margin: 0;
  }
}
